<div class="theme-warning">
	<header class="top-bar" data-overlay="7">
		<app-top-bar></app-top-bar>
		<nav hidden class="nav-white nav-transparent">
			<div class="nav-header">
				<a href="index" class="brand">
					<img src="assets/images/logo-light-text2.png" alt="" />
				</a>
				<button class="toggle-bar">
					<span class="ti-menu"></span>
				</button>
			</div>
			<ul class="menu">
				<li>
					<a href="index">Home</a>
				</li>
				<li>
					<a href="buySell">Instant Buy & Sell</a>
				</li>
				<li class="dropdown">
					<a href="#">Trade</a>
					<ul class="dropdown-menu">
						<li><a href="currencyConvertor">Currency Converter</a></li>
						<li><a href="liveCoin">Live Coin Chart</a></li>
					</ul>
				</li>

				<li class="">
					<a href="about_us">About Us</a>
				</li>
				<li class="">
					<a href="blog">Blog</a>
				</li>
				<li>
					<a href="contact_us">Contact</a>
				</li>
			</ul>
			<ul class="attributes">
				<li class="d-md-block d-none"><a href="register" class="px-10 pt-15 pb-10">
						<div class="btn btn-primary">Register Now</div>
					</a></li>
				<li><a href="#" class="toggle-search-fullscreen"><span class="ti-search"></span></a></li>
			</ul>
			<div class="wrap-search-fullscreen">
				<div class="container">
					<button class="close-search"><span class="ti-close"></span></button>
					<input type="text" placeholder="Search..." />
				</div>
			</div>
		</nav>
	</header>


	<!---page Title --->
	<section class="bg-img pt-150 pb-20" data-overlay="7"
		style="background-image: url(assets/images/front-end-img/background/bg-8.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<h2 class="page-title text-white">Login</h2>
						<ol class="breadcrumb bg-transparent justify-content-center">
							<li class="breadcrumb-item"><a href="#" class="text-white-50"><i
										class="mdi mdi-home-outline"></i></a></li>
							<li class="breadcrumb-item text-white active" aria-current="page">Login</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Page content -->

	<section class="py-50">
		<div class="container">
			<div class="row justify-content-center g-0">
				<div class="col-lg-5 col-md-5 col-12">
					<div class="box box-body">
						<div class="content-top-agile pb-0 pt-20">
							<h2 class="text-primary">Let's Get Started</h2>
							<p class="mb-0">Sign in to continue to CryptoCurrency.</p>
						</div>
						<div class="p-40">
							<form action="index" method="post">
								<div class="form-group">
									<div class="input-group mb-15">
										<span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
										<input type="text" class="form-control ps-15 bg-transparent"
											placeholder="Username">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group mb-15">
										<span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
										<input type="password" class="form-control ps-15 bg-transparent"
											placeholder="Password">
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="checkbox ms-5">
											<input type="checkbox" id="basic_checkbox_1">
											<label for="basic_checkbox_1" class="form-label">Remember Me</label>
										</div>
									</div>
									<!-- /.col -->
									<div class="col-6">
										<div class="fog-pwd text-end">
											<a href="forgot_password" class="hover-warning"><i
													class="ion ion-locked"></i> Forgot pwd?</a><br>
										</div>
									</div>
									<!-- /.col -->
									<div class="col-12 text-center">
										<button type="submit" class="btn btn-info w-p100 mt-15">SIGN IN</button>
									</div>
									<!-- /.col -->
								</div>
							</form>
							<div class="text-center">
								<p class="mt-15 mb-0">Don't have an account? <a href="register"
										class="text-warning">Register</a></p>
							</div>
						</div>
					</div>

					<div class="text-center">
						<p class="mt-20">- Login With -</p>
						<p class="d-flex gap-items-2 mb-0 justify-content-center">
							<a class="btn btn-social-icon btn-round btn-facebook" href="#"><i
									class="fa fa-facebook"></i></a>
							<a class="btn btn-social-icon btn-round btn-twitter" href="#"><i
									class="fa fa-twitter"></i></a>
							<a class="btn btn-social-icon btn-round btn-instagram" href="#"><i
									class="fa fa-instagram"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
 <app-footer></app-footer>
</div>