::ng-deep .list-unstyled{
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
::ng-deep a {
    // color: #0080ff;
    text-decoration: none;
}
::ng-deep .label-39Xi8p6T.top-39Xi8p6T {
   top: unset !important;
}