<div class="theme-warning">
  <header class="top-bar" data-overlay="7">
		<app-top-bar></app-top-bar>

		<nav hidden class="nav-white nav-transparent">
			<div class="nav-header">
				<a href="index" class="brand">
					<img src="assets/images/logo-light-text2.png" alt="" />
				</a>
				<button class="toggle-bar">
					<span class="ti-menu"></span>
				</button>
			</div>
			<ul class="menu">
				<li>
					<a href="index">Home</a>
				</li>
				<li>
					<a href="buySell">Instant Buy & Sell</a>
				</li>
				<li class="dropdown">
					<a href="#">Trade</a>
					<ul class="dropdown-menu">
						<li><a href="currencyConvertor">Currency Converter</a></li>
						<li><a href="liveCoin">Live Coin Chart</a></li>
					</ul>
				</li>

				<li class="">
					<a href="about_us">About Us</a>
				</li>
				<li class="active">
					<a href="blog">Blog</a>
				</li>
				<li>
					<a href="faq">FAQ's</a>
				</li>
			</ul>
			<ul class="attributes">
				<li class="d-md-block d-none"><a href="register" class="px-10 pt-15 pb-10">
						<div class="btn btn-primary">Register Now</div>
					</a></li>
				<li><a href="#" class="toggle-search-fullscreen"><span class="ti-search"></span></a></li>
			</ul>
			<div class="wrap-search-fullscreen">
				<div class="container">
					<button class="close-search"><span class="ti-close"></span></button>
					<input type="text" placeholder="Search..." />
				</div>
			</div>
		</nav>
	</header>

	<!---page Title --->
	<section class="bg-img pt-150 pb-20" data-overlay="7"
		style="background-image: url(assets/images/front-end-img/background/bg-8.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<h2 class="page-title text-white">Blogs</h2>
						<ol class="breadcrumb bg-transparent justify-content-center">
							<li class="breadcrumb-item"><a href="#" class="text-white-50"><i
										class="mdi mdi-home-outline"></i></a></li>
							<li class="breadcrumb-item text-white active" aria-current="page">Blog Details</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Page content -->

	<section class="py-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-8 col-12">
					<div class="blog-post mb-30">
						<div class="entry-image clearfix">
							<ul class="list-unstyled grid-post">
								<li>
									<img class="img-fluid" src="assets/images/front-end-img/courses/10f.jpg" alt="">
								</li>
								<li>
									<img class="img-fluid" src="assets/images/front-end-img/courses/11f.jpg" alt="">
								</li>
								<li>
									<img class="img-fluid" src="assets/images/front-end-img/courses/12f.jpg" alt="">
								</li>
								<li>
									<img class="img-fluid" src="assets/images/front-end-img/courses/9f.jpg" alt="">
								</li>
							</ul>
						</div>
						<div class="blog-detail">
							<div class="entry-meta mb-10">
								<ul class="list-unstyled">
									<li><a href="#"><i class="fa fa-folder-open-o"></i> Design</a></li>
									<li><a href="#"><i class="fa fa-comment-o"></i> 5</a></li>
									<li><a href="#"><i class="fa fa-calendar-o"></i> 12 Aug 2020</a></li>
								</ul>
							</div>
							<hr>
							<div class="entry-title mb-10">
								<a href="#" class="fs-24">Blogpost With Image Grid Gallery</a>
							</div>
							<div class="entry-content">
								<p>It is used every day in all types of businesses; Email newsletters, websites, print
									and online advertisements, presentations, social media updates, flyers, and
									brochures; the list goes on and on</p>
								<p>David Ogilvy, the advertising legend once said that, On average, five times as many
									people read the headline as read the body copy. When you have written your headline,
									you have spent eighty cents out of your dollar." As Ogilvy points out, your headline
									is the first (and sometimes the only) thing that your audience will read.</p>
								<p>You just need to enter the keyword and select the keyword type to generate a list of
									6 title ideas and suggestions. If you’re not satisfied with the results, you can
									always hit the refresh button to generate a new list of unique titles.</p>
								<p>Once you’ve gotten all the titles and have chosen the best one, the next thing you
									need to do is to craft a magnetic content. Great content marketers excel at creating
									content that their readers crave, but even the best struggle with delivering content
									to the right person at the right time.</p>
							</div>
							<blockquote class="blockquote mt-20 pb-0 mb-0">
								<p>Hendrerit facilisis ex in dignissim. Suspendisse tellus magna, mollis venenatis mi
									sit amet, laoreet cursus ligula. Aenean non sapien risus. Pellentesque ac iaculis
									lacus. Nullam consequat porttitor lectus pharetra </p>
								<footer class="blockquote-footer">John Watson <cite title="Source Title">Miami</cite>
								</footer>
							</blockquote>
						</div>
					</div>
					<div class="box">
						<div class="box-body">
							<div class="widget">
								<h4 class="mt-0 pb-15 mb-25 bb-1">TAGS</h4>
								<div class="widget-tags">
									<ul class="list-unstyled">
										<li><a href="#">Design</a></li>
										<li><a href="#">User interface</a> </li>
										<li><a href="#">SEO</a> </li>
										<li><a href="#">WordPress</a> </li>
										<li><a href="#">Development</a> </li>
										<li><a href="#">Joomla</a> </li>
										<li><a href="#">Design</a> </li>
										<li><a href="#">User interface</a> </li>
										<li><a href="#">SEO</a> </li>
										<li><a href="#">WordPress</a> </li>
										<li><a href="#">Development</a> </li>
										<li><a href="#">Joomla</a> </li>
										<li><a href="#">Design</a></li>
										<li><a href="#">User interface</a></li>
										<li><a href="#">SEO</a> </li>
										<li><a href="#">WordPress</a> </li>
										<li><a href="#">Development</a> </li>
										<li><a href="#">Joomla</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="box-body">
							<div class="widget">
								<h4 class="mt-0 pb-15 mb-25 bb-1">Share</h4>
								<ul class="list-inline mb-0">
									<li><a href="#"
											class="waves-effect waves-circle btn btn-social-icon btn-circle btn-facebook"><i
												class="fa fa-facebook"></i></a></li>
									<li><a href="#"
											class="waves-effect waves-circle btn btn-social-icon btn-circle btn-twitter"><i
												class="fa fa-twitter"></i></a></li>
									<li><a href="#"
											class="waves-effect waves-circle btn btn-social-icon btn-circle btn-instagram"><i
												class="fa fa-instagram"></i></a></li>
									<li><a href="#"
											class="waves-effect waves-circle btn btn-social-icon btn-circle btn-linkedin"><i
												class="fa fa-linkedin"></i></a></li>
									<li><a href="#"
											class="waves-effect waves-circle btn btn-social-icon btn-circle btn-youtube"><i
												class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="box-body">
							<div class="blog-comment">
								<h4 class="mt-0 pb-15 mb-25 bb-1">04 Comments</h4>
								<div class="comment-1">
									<div class="comment-photo">
										<img class="img-fluid" src="assets/images/front-end-img/avatar/1.jpg" alt="">
									</div>
									<div class="comment-info">
										<h4 class="theme-color"> Kevin Martin <span>Sep 15, 2020</span></h4>
										<div class="port-post-social float-end">
											<a href="#">Reply</a>
										</div>
										<p>Sit amet nibh vulputate cursus a sit amet mauris lorem ipsum dolor sit amet
											of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
											sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
											sagittis sem nibh id elit. Duis sed odio <a
												href="#">http://themeforest.net</a> Morbi accumsan ipsum velit. Nam nec
											tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat </p>
									</div>
								</div>
								<div class="comment-1 comment-2">
									<div class="comment-photo">
										<img class="img-fluid" src="assets/images/front-end-img/avatar/2.jpg" alt="">
									</div>
									<div class="comment-info">
										<h4 class="theme-color"> Kevin Martin <span>Sep 15, 2020</span></h4>
										<div class="port-post-social float-end">
											<a href="#">Reply</a>
										</div>
										<p>Vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
											Lorem ipsum dolor sit amet of Lorem Ipsum. Proin gravida nibh..</p>
									</div>
								</div>
								<div class="comment-1 comment-2">
									<div class="comment-photo">
										<img class="img-fluid" src="assets/images/front-end-img/avatar/3.jpg" alt="">
									</div>
									<div class="comment-info">
										<h4 class="theme-color"> Kevin Martin <span>Sep 15, 2020</span></h4>
										<div class="port-post-social float-end">
											<a href="#">Reply</a>
										</div>
										<p>Aenean sollicitudin, lorem quis bibendum auctor Lorem ipsum dolor sit amet of
											Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet..</p>
									</div>
								</div>
								<div class="comment-1">
									<div class="comment-photo">
										<img class="img-fluid" src="assets/images/front-end-img/avatar/4.jpg" alt="">
									</div>
									<div class="comment-info">
										<h4 class="theme-color"> Kevin Martin <span>Sep 15, 2020</span></h4>
										<div class="port-post-social float-end">
											<a href="#">Reply</a>
										</div>
										<p>Bibendum auctor Lorem ipsum dolor sit amet of Lorem Ipsum. Proin gravida nibh
											vel velit auctor aliquet. Aenean sollicitudin, lorem quis, nisi elit
											consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
											vulputate cursus a sit amet mauris <a href="#">http://themeforest.net</a>
											Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare
											odio. Sed non mauris vitae erat </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="box-body">
							<div class="widget">
								<h4 class="mt-0 pb-15 mb-25 bb-1">Leave a Reply</h4>
								<form id="contactform" class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Website URL">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Your Name">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Email Adress">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Phone Number">
										</div>
									</div>
									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<textarea class="form-control" rows="7" placeholder="message"></textarea>
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
										<button name="submit" type="submit" value="Send"
											class="btn btn-primary"><span>Submit Now</span></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-12">
					<div class="side-block px-20 py-10 bg-white">
						<div class="widget courses-search-bx placeholdertx mb-10">
							<div class="form-group">
								<div class="input-group">
									<label class="form-label">Search...</label>
									<input name="name" type="text" required="" class="form-control">
								</div>
							</div>
						</div>
						<div class="widget clearfix">
							<h4 class="pb-15 mb-15 bb-1">Categories</h4>
							<div class="media-list media-list-divided">
								<a class="px-0 media media-single" href="#">
									<span class="title ms-0">Biology Course </span>
									<span class="mx-0 badge badge-secondary-light">125</span>
								</a>

								<a class="px-0 media media-single" href="#">
									<span class="title ms-0">Contemporary Art</span>
									<span class="mx-0 badge badge-primary-light">124</span>
								</a>

								<a class="px-0 media media-single" href="#">
									<span class="title ms-0">Elizabethan Theater</span>
									<span class="mx-0 badge badge-info-light">425</span>
								</a>

								<a class="px-0 media media-single" href="#">
									<span class="title ms-0">Geometry Course</span>
									<span class="mx-0 badge badge-success-light">321</span>
								</a>

								<a class="px-0 media media-single" href="#">
									<span class="title ms-0">Informatic Course</span>
									<span class="mx-0 badge badge-danger-light">159</span>
								</a>

								<a class="px-0 media media-single" href="#">
									<span class="title ms-0">Live Drawing</span>
									<span class="mx-0 badge badge-warning-light">452</span>
								</a>
							</div>
						</div>
						<div class="widget clearfix">
							<h4 class="pb-15 mb-25 bb-1">Archives</h4>
							<ul class="list list-unstyled">
								<li><a href="#"><i class="fa fa-angle-double-right"></i> November 2020</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i> October 2020</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i> September 2020</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i> August 2020</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i> July 2020</a></li>
							</ul>
						</div>
						<div class="widget">
							<h4 class="pb-15 mb-25 bb-1">Tags</h4>
							<div class="widget-tags">
								<ul class="list-unstyled">
									<li><a href="#">Bootstrap</a></li>
									<li><a href="#">HTML5</a></li>
									<li><a href="#">Wordpress</a></li>
									<li><a href="#">CSS3</a></li>
									<li><a href="#">Creative</a></li>
									<li><a href="#">Multipurpose</a></li>
									<li><a href="#">Bootstrap</a></li>
									<li><a href="#">HTML5</a></li>
									<li><a href="#">Wordpress</a></li>
								</ul>
							</div>
						</div>
						<div class="widget">
							<h4 class="pb-15 mb-25 bb-1">Meta</h4>
							<ul class="list list-unstyled">
								<li><a href="#"><i class="fa fa-angle-double-right"></i> Log in</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i> Entries RSS</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i> Comments RSS </a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i> Online</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i> WordPress.org</a></li>
							</ul>
						</div>
						<div class="widget">
							<h4 class="pb-15 mb-25 bb-1">Recent Posts </h4>
							<div class="recent-post clearfix">
								<div class="recent-post-image">
									<img class="img-fluid bg-primary-light"
										src="assets/images/front-end-img/courses/cor-logo-1.png" alt="">
								</div>
								<div class="recent-post-info">
									<a href="#">Curabitur id scelerisque diam. Pellentesque ut lectus arcu.</a>
									<span><i class="fa fa-calendar-o"></i> September 30, 2020</span>
								</div>
							</div>
							<div class="recent-post clearfix">
								<div class="recent-post-image">
									<img class="img-fluid bg-primary-light"
										src="assets/images/front-end-img/courses/cor-logo-5.png" alt="">
								</div>
								<div class="recent-post-info">
									<a href="#">Curabitur id scelerisque diam. Pellentesque ut lectus arcu.</a>
									<span><i class="fa fa-calendar-o"></i> September 30, 2020</span>
								</div>
							</div>
							<div class="recent-post clearfix">
								<div class="recent-post-image">
									<img class="img-fluid bg-primary-light"
										src="assets/images/front-end-img/courses/cor-logo-4.png" alt="">
								</div>
								<div class="recent-post-info">
									<a href="#">Curabitur id scelerisque diam. Pellentesque ut lectus arcu.</a>
									<span><i class="fa fa-calendar-o"></i> September 30, 2020</span>
								</div>
							</div>
						</div>
						<div class="widget">
							<h4 class="pb-15 mb-25 bb-1">Newsletter</h4>
							<div class="widget-newsletter">
								<div class="newsletter-icon">
									<i class="fa fa-envelope-o"></i>
								</div>
								<div class="newsletter-content">
									<i>Fusce tincidunt, metus at dignissim fringilla, lorem velit posuere mi, sed
										pretium turpis leo ac metus. Aenean sit amet sapien eget eros </i>
								</div>
								<div class="newsletter-form mt-20">
									<div class="form-group">
										<input type="email" class="form-control" id="exampleInputEmail2"
											placeholder="Name">
									</div>
									<a class="btn btn-primary w-p100" href="#">Submit</a>
								</div>
							</div>
						</div>
						<div class="widget">
							<h4 class="pb-15 mb-25 bb-1">Testimonials</h4>
							<div class="owl-carousel" data-nav-dots="false" data-items="1" data-md-items="1"
								data-sm-items="1" data-xs-items="1" data-xx-items="1">
								<div class="item">
									<div class="testimonial-widget">
										<div class="testimonial-content">
											<p>In odio metus, porta vitae neque vitae, faucibus viverra orci. Quisque in
												lorem aliquam, ullamcorper turpis a, aliquam dui. In accumsan aliquam
												viverra.</p>
										</div>
										<div class="testimonial-info mt-20">
											<div class="testimonial-avtar">
												<img class="img-fluid" src="assets/images/front-end-img/avatar/1.jpg"
													alt="">
											</div>
											<div class="testimonial-name">
												<strong>Johen Doe</strong>
												<span>Project Manager</span>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-widget">
										<div class="testimonial-content">
											<p>Morbi condimentum leo eu lacinia accumsan. Phasellus cursus rhoncus elit,
												mattis convallis sapien efficitur non phasellus et erat sapien
												phasellus. </p>
										</div>
										<div class="testimonial-info mt-20">
											<div class="testimonial-avtar">
												<img class="img-fluid" src="assets/images/front-end-img/avatar/2.jpg"
													alt="">
											</div>
											<div class="testimonial-name">
												<strong>Johen Doe</strong>
												<span>Design</span>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-widget">
										<div class="testimonial-content">
											<p>In odio metus, porta vitae neque vitae, faucibus viverra orci. Quisque in
												lorem aliquam, ullamcorper turpis a, aliquam dui. In accumsan aliquam
												viverra.</p>
										</div>
										<div class="testimonial-info mt-20">
											<div class="testimonial-avtar">
												<img class="img-fluid" src="assets/images/front-end-img/avatar/3.jpg"
													alt="">
											</div>
											<div class="testimonial-name">
												<strong>Johen Doe</strong>
												<span>Project Manager</span>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-widget">
										<div class="testimonial-content">
											<p>Morbi condimentum leo eu lacinia accumsan. Phasellus cursus rhoncus elit,
												mattis convallis sapien efficitur non phasellus et erat sapien
												phasellus. </p>
										</div>
										<div class="testimonial-info mt-20">
											<div class="testimonial-avtar">
												<img class="img-fluid" src="assets/images/front-end-img/avatar/4.jpg"
													alt="">
											</div>
											<div class="testimonial-name">
												<strong>Johen Doe</strong>
												<span>Design</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="widget mb-10">
							<h4 class="pb-15 mb-25 bb-1">Quick contact</h4>
							<form class="gray-form">
								<div class="form-group">
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" id="exampleInputphone" placeholder="Email">
								</div>

								<div class="form-group">
									<textarea class="form-control" rows="4" placeholder="message"></textarea>
								</div>
								<a class="btn btn-primary w-p100" href="#">Submit</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<app-footer></app-footer>
</div>