
.top-bar{
    background-color: #474749;
  }
  nav.nav-white.nav-transparent .menu li a:hover {
    color: #ed3833;
}
.top-bar .core-nav.nav-core-sticky.on-scroll {
  top: 0;
}
.btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #ffffff;
}
.btn-twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #ffffff;
}
.btn-linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
    color: #ffffff;
}
.btn-youtube {
    background-color: #ff0000;
    border-color: #ff0000;
    color: #ffffff;
}
.nav-tabs .nav-link {
    border: 1px solid #d9d9d9;
    margin: 5px 5px;
}
.form-control {
    border: 1px solid #f3f6f9;
}