<div class="topbar">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6 col-12 d-lg-block d-none">
                <div class="topbar-social text-center text-md-start topbar-left">
                    <ul class="list-inline d-md-flex d-inline-block">
                        <li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-question-circle"></i> Ask
                                a Question</a></li>
                        <li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-envelope"></i>
                                hello@multipurposethemes.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-12 xs-mb-10">
                <div class="topbar-call text-center text-lg-end topbar-right">
                    <ul class="list-inline d-lg-flex justify-content-end">
                        <li class="me-10 ps-10 lng-drop">
                            <select class="header-lang-bx">
                                <option>USD</option>
                                <option>EUR</option>
                                <option>GBP</option>
                                <option>INR</option>
                            </select>
                        </li>
                        <li class="me-10 ps-10 lng-drop">
                            <select class="header-lang-bx">
                                <option  data-icon="flag-icon flag-icon-us">
                                    <img src="assets/icons/flag-icon-css/flags/4x3/us.svg"/>Eng USA</option>
                                <option data-icon="flag-icon flag-icon-gb">Eng UK</option>
                            </select>
                        </li>
                        <li class="me-10 ps-10"><a href="login"><i
                                    class="text-white fa fa-sign-in d-md-inline-block d-none"></i> Login</a>
                        </li>
                        <!-- <li class="me-10 ps-10"><a href="#"><i
                                    class="text-white fa fa-dashboard d-md-inline-block d-none"></i> My
                                Account</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>